{% extends "system/base.html" %}
{% load humanize %}

{% block title %}
  <title>Dashboard</title>  
{% endblock title %}

{% block main %}
  <h1 class="title">Dashboard</h1>  

  <section class="section">
    <h2>Last Month's Stats:</h2>
    <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Hours</p>
        <p class="title">{{hours|default_if_none:0}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Return Visits</p>
        <p class="title">{{return_visits|default_if_none:0|intcomma}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Bible Studies</p>
        <p class="title">{{bible_studies|default_if_none:0|intcomma}}</p>
      </div>
    </div>
  </nav>
  </section>
{% endblock main %}

{% block aside_menu %}
  {% include "aside.html" with dashboard_active='is-active' %}  
{% endblock aside_menu %}
