{% extends "publishers/base_group.html" %}

{% block title %}
  <title>Group Detail | {{group|title}}</title>  
{% endblock title %}

{% block groupbreadcrumbs %}
	<li><a href="#">{{group|title}}</a></li>	
	<li class="is-active">Detail</li>	
{% endblock groupbreadcrumbs %}

{% block content %}
  <h1>Group Detail</h1>

  <div class="field is-grouped is-pulled-right">

    <div class="control">
      <a href='{% url "publishers:group-update" group.pk %}'><button class="button is-outlined">{% include "_snippets/icon_edit.html" %}</button></a>
    </div>
  </div>
  
  <p class="is-size-3">{{ group|upper }}</p>
  <p><a href='{% url "reports:mfs-history-group" group.pk %}'>View MFS history</a></p>
  <p>Congregation: {{ group.congregation }}</p>

  <section>
    <h2 class="is-size-5">Members:</h2>
    {% include "publishers/snippets/publisher_table_list.html" with object_list=group.members %}
  </section>
{% endblock content %}
