{% extends "publishers/base.html" %}
{% load static %}

{% block title %}
  <title>Publisher Detail | {{publisher.name|title}}</title>
{% endblock title %}

{% block subbreadcrumbs %}
  <li class="is-active"><a href='#'>Detail</a></li>  
{% endblock subbreadcrumbs %}

{% block content %}
  <h1>Publisher Detail</h1>

  <div class="field is-grouped is-pulled-right" id="delete-button-app">
    <div class="control">
      <form id="form--{{ publisher.pk }}" action='{% url "publishers:delete" publisher.pk %}' method="POST" @submit.prevent="confirmDelete">
        {% csrf_token %}
        <button class="button is-outlined" type="submit" form="form--{{ publisher.pk }}" :disabled="disabled">{% include "_snippets/icon_trash.html" %}</button>
      </form>
    </div>

    <div class="control">
      <a href='{% url "publishers:update" publisher.slug %}'><button class="button is-outlined">{% include "_snippets/icon_edit.html" %}</button></a>
    </div>
  </div>
  
  <p class="is-size-3">{{ publisher.name|upper }}</p>
  <p><a href='{% url "reports:mfs-history" publisher.slug %}'>View MFS history</a></p>
  <p>Date of Birth: {{ publisher.date_of_birth }}</p>
  <p>Date of Baptism: {{ publisher.date_of_baptism }}</p>
  <p>Contact Numbers: {{ publisher.contact_numbers }}</p>
  <p>Group: {{ publisher.group|title }}</p>
  <p>Infirmed: {% if publisher.infirmed %}{% include "_snippets/icon_check.html" %}{% else %}{% include "_snippets/icon_times.html" %}{% endif %}</p>
  <p>Elderly: {% if publisher.elderly %}{% include "_snippets/icon_check.html" %}{% else %}{% include "_snippets/icon_times.html"  %}{% endif %}</p>
{% endblock content %}

{% block vueinstance %}
    <script src="{% static "deleteButtonApp.js" %}"></script>
{% endblock vueinstance %}